
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 10vw;
    opacity: 0.6;
    z-index: 3;
}
header{
    position: relative;
    max-width: 100vw;
    height: 80vh;
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #464b49 0%, #273033 74%);
    display: grid;
    justify-items: center;
    overflow: hidden;
    color: white;
}
nav{
    position: absolute;
    top: 0;
    width: 90% ;
    height: 6vh;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.waves{
    position: absolute;
    bottom: 0px;
    width: 100%;
    transform: translateY(8%) rotateY(180deg);
    z-index: 5;
}
ul{
    display: flex;
    list-style: none;
}
li{
    padding: 1rem;
}
.segment{
    width: 98vw;
    height: 65vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.desc{
    position: relative;
    display: flex;
    width: 45%;
    align-items: center;
    justify-content: center;
}
.img {
    position: relative;
    height: 100%;
}
.img img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-40%);
    transition: transform 500ms ease-out;
}
.desc:hover > .pic{
    transform: scale(1.05) translate(-60%,-40%);
}
.desc:hover > .svg{
    transform: scale(1.05) translate(-50%,-40%);
}
.segment2{
    max-width: 100vw;
    align-items: center;
    justify-content: center;
}
.caption{
    width: 60%;
    height: 6rem;
    color: black;
    background: white;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.576);
    transform: translateY(-30%);
    z-index: 5;
}
@media screen and (max-width:900px){
    h1{
        font-size: x-large;
    }
    .segment {
        width: 90%;
        justify-content: space-between;
    }
}
@media (orientation: portrait) {
    .segment {
        width: 100vw;
        height: 60vh;
        display: grid;
        place-items: center;
    }
    .disc {
        position: relative;
        width: 100vw;
        height: 30vh;
    }
    .img{
        height: 30vh;
        width: 30vh;
        border-radius: 50%;
        border: 5px solid white;
        overflow: hidden;
    }
    .img img{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .desc:hover > .svg{
        transform: scale(1.05) rotate(90deg,90deg,0deg);
    }
    .desc:hover > .pic{
        transform: scale(1.05) translate(-50%,-50%);
    }
}
