@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
  font-family: 'Montserrat', sans-serif;
}
:root {
  --theme : white;
  --color : black;
}
body{
  background: var(--theme);
  color: var(--color);
}
header{
  width: 100vw;
  height: 3.2rem;
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.845);
}
.flex {
  display: flex;
}
.vc {
  align-items: center;
}
.sb {
  justify-content: space-between;
}
.hc
{
  justify-content: center;
}
.vb{
  align-items: baseline;
}
.profilename {
  transform: translateY(-50%);
  font-weight: bold;
  margin-left: 0.5rem;
  font-size: larger;
}
i {
  margin: 1rem;
  cursor: pointer;
  color:var(--color);
}
.coverpicture {
  margin-top: 0.5rem;
}
.cover {
  width: 98vw;
  border-radius: 20px;
  aspect-ratio:4;
  object-fit: cover;
}
.profile-wrap {
  bottom: 0;
  left: 2rem;
  transform: translateY(50%);
  position: absolute;
  
}
.profile{
  background:linear-gradient(45deg,rgb(165, 165, 165),rgb(255, 255, 255));
  width: 12vh;
  aspect-ratio: 1;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 1px 1px 4px --var(color);
}
.wrapper{
  position: relative;
}
fieldset {
  width: 80vw;
  border: 1px solid rgba(128, 128, 128, 0.729);
  padding: 1rem;
  border-radius: 20px;
  font-weight: 500;
}
.fill{
  width: 100%;
  margin-top: 4rem;
}
.foot
{
  margin-top: 2rem;
  width: 100%;
}
@media only screen and (max-width:720px) {
  .cover {
    aspect-ratio: 2;
  }
}