@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@326&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock+SC&display=swap');
*{
  transition: color 50ms linear;
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
}
.grid{
  display: grid;
}
.flex {
  display: flex;
}
i {
  margin: 1rem;
  cursor: pointer;
  color:var(--color);
}
.fieldsegment {
  width: 100%;
  align-items: center;
  justify-content: center;
  clip-path: polygon(65% 0, 100% 11%, 100% 100%, 0 100%, 0 9%);
  background: linear-gradient(90deg,rgb(27, 27, 75),rgb(35, 78, 78));
  color: white;
}
fieldset {
  width:70%;
  padding:5%;
  margin-top: 5rem;
  border-radius: 10px;
}